[flake8]
exclude = .git,.github,__pycache__,build,dist,.vscode
max-line-length = 127
max-complexity = 10
count = True
statistics = True
ignore = F403, F405, W503, C901, E501

[tool:pytest]
addopts = --black